---

pageName: "Homepage"

---
  <script src="js/prices.js" defer></script>
{% include "_header.njk" %}
    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image:  url('images/main.jpg')">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">
            <div class="mb-5 element-animate">
              <img src="{{'images/banner_text_1.png'|url}}" alt="Image placeholder" class="img-md-fluid">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section --> {% include "infoText.njk" %} {% set listofKeys = []-%} {% for key, keyArray in list -%} {% set listofKeys = (listofKeys.push(key), listofKeys) %} {% endfor -%}
    <!-- END section -->
    <br>
    <br>
    <!-- MOBILE -->
    <section class="site-sectionW">
      <div class="container show-mobile d-lg-none">
        <div class="row">
          <select class="form-control" id="form_category"> 
            {% for key in listofKeys -%} <option value="{{key | replace(" ", "_")}}">
              {{key}}</option> 
            {% endfor -%}
           </select> 
           {% for key in listofKeys -%} 
            {% set currentKey = key %} 
            {% if currentKey == listofKeys[0] %} 
            <select class="form-control" id="form_{{key | replace(" ", "_")}}" onchange="setOptionDetails(form_{{key}}.value.replace(/_/g, ' '))"> 
            {% else %} <select class="form-control" id="form_{{key | replace(" ", "_")}}" style="display: none;" onchange="setOptionDetails(form_{{key}}.value.replace(/_/g, ' '))";> 
            {% endif -%} 
            {% for value in list[currentKey] -%} 
              <option value="{{value.Name | replace(" ", "_")}}" >
                {{value.Name}} (€{{value.Cost}})
               </option>
          {% endfor -%} 
          </select>
          {% endfor -%}
        </div>
        <div class="row">
          <div class="media d-block media-feature text-center" id="">
            <img class="img-fluid" width() src="{{'images/back_massage.jpg'|url}}">
            <br>
            <br>
            <div id="divOptionInfoMobile">
              <h3>Swedish Back, Neck, Head & Shoulder Massage</h3>
              <p>Relax and unwind with a soothing 30-minute Swedish Back Massage, designed to ease tension and promote relaxation in your upper body.</p>
              <p>Length: 30 minutes</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="container hidden-mobile d-none d-lg-block">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <ul class="navbar-nav mr-auto" id="categoryList"> {% for key in listofKeys -%} <li class="nav-item">
                  <button class="btn nav-link shadow-none" id="Btn_{{key | replace(" ", "_")}}" onclick="showHideCatList('ul_{{key | replace(" ", "_")}}')">{{key}}</button>
                </li> {% endfor -%} </ul>
            </nav>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="container hidden-mobile d-none d-lg-block">
        <div class="row">
          <div class="col-md-5">
            <div class="media-body d-block media-feature">
              <div class="row justify-content-center">
                <div id="divOptions" class="w-100"> {% for key in listofKeys -%} {% set currentKey = key %} {% if currentKey == listofKeys[0] %} <ul class="nav" id="ul_{{currentKey | replace(" ", "_")}}" style="display: block;"> {% else %} <ul class="nav" id="ul_{{currentKey | replace(" ", "_")}}" style="display: none;"> {% endif %} {% for value in list[key] -%} <li class="nav-item">
                        <div class="nav-link d-flex justify-content-between" style="margin-left:5px;">
                          <a href="#/" onclick="setOptionDetails('{{value.Name}}')" style="max-width:75%;">{{value.Name}}</a>
                          <div style="max-width:75%;"> €{{value.Cost}}
                          </div>
                        </div>
                      </li> {% endfor -%} </ul> {% endfor -%}
                    <!--<li class="nav-item"><div class = "nav-link d-flex justify-content-between"><a href="#">Here</a><div> $200 </div></div></li>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="media d-block media-feature text-center" id="">
              <img class="img-fluid" id="displayCategory" width() src="{{'images/back_massage.jpg'|url}}">
              <br>
              <br>
              <div id="divOptionInfoDesktop">
              <h3>Swedish Back, Neck, Head & Shoulder Massage</h3>
              <p>Relax and unwind with a soothing 30-minute Swedish Back Massage, designed to ease tension and promote relaxation in your upper body.</p>
              <p>Length: 30 minutes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-cover cta" data-stellar-background-ratio="0.5" style="background-image: url('images/big_image_2.jpg')">
      <div class="container">
        <div class="row justify-content-center align-items-center intro">
          <div class="col-md-8">
            <h2 class="mb-4">
              <span>Appoint a Haircut Today and</span> Get 25% discount
            </h2>
            <p>
              <a class="btn btn-black">Make an Appointment</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- END section -->
    {% include "_footer.njk" %}
  </body>