<html>
  <title>Glow to Go || Homepage</title>
  <link rel="icon" href="images/logo.jpeg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{'css/bootstrap.css' | url}}">
  <link rel="stylesheet" href="{{'css/animate.css' | url}}">
  <link rel="stylesheet" href="{{'css/owl.carousel.min.css' | url}}">
  <link rel="stylesheet" href="{{'css/magnific-popup.css' | url}}">
  <link rel="stylesheet" href="{{'css/style.css' | url}}">
  <script src="js/prices.js" defer></script>
  <header role="banner">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{'index.html' | url}}">Glow to Go</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse navbar-light collapse show" id="navbarsExample05">
          <ul class="navbar-nav ml-auto pl-lg-5 pl-0"> 
            {% set navPages = collections.all | eleventyNavigation %} 
            {% macro renderNavListItem(entry) -%} 
            {% if entry.children.length > 0 %} 
            {%- set counter=0 %} 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{ entry.url | url }}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ entry.title }}</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04"> 
                {%- for child in entry.children %} 
                  {%- set counter=counter+1 %} 
                  {% if counter < 6 %} 
                    <a class="dropdown-item" href="{{ child.url | url }}">
                      {{ child.title }}
                    </a> 

                  {% elif counter == 6 %} 
                    {% set landingPage = collections.all | eleventyNavigation("blog") %}
                    <a class="dropdown-item" href="{{ '/landingPage/page-1/index.html' | url }}">Click to view more blog posts</a> 
                  {% endif %} 
                {% endfor -%} 
              </div>
              </li> 
                {% else %} 
                <li class="nav-item">
                  <a class="nav-link active" href="{{ entry.url | url }}">
                    {{ entry.title }}
                  </a>
                </li> 
                {% endif %} 
              {%- endmacro %} 
              {%- for entry in navPages %}
                {{ renderNavListItem(entry) }} 
              {%- endfor -%} 
            </ul>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image:  url('images/main.jpg')">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">
            <div class="mb-5 element-animate">
              <img src="{{'images/banner_text_1.png'|url}}" alt="Image placeholder" class="img-md-fluid">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section --> {% include "infoText.njk" %} {% set listofKeys = []-%} {% for key, keyArray in list -%} {% set listofKeys = (listofKeys.push(key), listofKeys) %} {% endfor -%}
    <!-- END section -->
    <br>
    <br>
    <!-- MOBILE -->
    <section class="site-sectionW">
      <div class="container show-mobile d-lg-none">
        <div class="row">
          <select class="form-control" id="form_category"> 
            {% for key in listofKeys -%} <option value="{{key | replace(" ", "_")}}">
              {{key}}</option> 
            {% endfor -%}
           </select> 
           {% for key in listofKeys -%} 
            {% set currentKey = key %} 
            {% if currentKey == listofKeys[0] %} 
            <select class="form-control" id="form_{{key | replace(" ", "_")}}"> 
            {% else %} <select class="form-control" id="form_{{key | replace(" ", "_")}}" style="display: none;"> 
            {% endif -%} 
            {% for value in list[currentKey] -%} 
              <option value="{{value.Name | replace(" ", "_")}}">
                {{value.Name}} (€{{value.Cost}})
               </option>
          {% endfor -%} 
          </select>
          {% endfor -%}
        </div>
        <div class="row">
          <div class="media d-block media-feature text-center" id="">
            <img class="img-fluid" width() src="{{'images/back_massage.jpg'|url}}">
            <br>
            <br>
            <div id="divOptionInfo">
              <h3>Swedish Back, Neck, Head & Shoulder Massage</h3>
              <p>An introduction to Osmosis! This facial is designed speciﬁcally to your skin needs. Including cleanse, exfoliation, mask, and appropriate moisturizer this facial is perfect for all skin types but especially for clients looking for a deep cleanse. Enioy a hot oil scalp massage while the mask works it's magic on your skin</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="container hidden-mobile d-none d-lg-block">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <ul class="navbar-nav mr-auto" id="categoryList"> {% for key in listofKeys -%} <li class="nav-item">
                  <button class="btn nav-link shadow-none" id="Btn_{{key | replace(" ", "_")}}" onclick="showHideCatList('ul_{{key | replace(" ", "_")}}')">{{key}}</button>
                </li> {% endfor -%} </ul>
            </nav>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="container hidden-mobile d-none d-lg-block">
        <div class="row">
          <div class="col-md-5">
            <div class="media-body d-block media-feature">
              <div class="row justify-content-center">
                <div id="divOptions" class="w-100"> {% for key in listofKeys -%} {% set currentKey = key %} {% if currentKey == listofKeys[0] %} <ul class="nav" id="ul_{{currentKey | replace(" ", "_")}}" style="display: block;"> {% else %} <ul class="nav" id="ul_{{currentKey | replace(" ", "_")}}" style="display: none;"> {% endif %} {% for value in list[key] -%} <li class="nav-item">
                        <div class="nav-link d-flex justify-content-between" style="margin-left:5px;">
                          <a href="#" onclick="setOptionDetails('{{value.Name}}')" style="max-width:75%;">{{value.Name}}</a>
                          <div style="max-width:75%;"> €{{value.Cost}}
                          </div>
                        </div>
                      </li> {% endfor -%} </ul> {% endfor -%}
                    <!--<li class="nav-item"><div class = "nav-link d-flex justify-content-between"><a href="#">Here</a><div> $200 </div></div></li>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="media d-block media-feature text-center" id="">
              <img class="img-fluid" id="displayCategory" width() src="{{'images/back_massage.jpg'|url}}">
              <br>
              <br>
              <div id="divOptionInfo">
                <h3>Swedish Back, Neck, Head & Shoulder Massage</h3>
                <p>An introduction to Osmosis! This facial is designed speciﬁcally to your skin needs. Including cleanse, exfoliation, mask, and appropriate moisturizer this facial is perfect for all skin types but especially for clients looking for a deep cleanse. Enioy a hot oil scalp massage while the mask works it's magic on your skin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-cover cta" data-stellar-background-ratio="0.5" style="background-image: url('images/big_image_2.jpg')">
      <div class="container">
        <div class="row justify-content-center align-items-center intro">
          <div class="col-md-8">
            <h2 class="mb-4">
              <span>Appoint a Haircut Today and</span> Get 25% discount
            </h2>
            <p>
              <a class="btn btn-black">Make an Appointment</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <h3 class="mb-4">About</h3>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, quod!</p>
            <ul class="list-unstyled ">
              <li class="d-flex">
                <span class="mr-3">
                  <span class="icon ion-ios-location"></span>
                </span>
                <span class="">Unit 4, <br> on 2nd Floor, Abey House, <br> Abbey Lane <br>Arklow, <br>Co. Wicklow </span>
              </li>
              <li class="d-flex">
                <span class="mr-3">
                  <span class="icon ion-ios-telephone"></span>
                </span>
                <span class="">+353 87 676 1443</span>
              </li>
              <li class="d-flex">
                <span class="mr-3">
                  <span class="icon ion-email"></span>
                </span>
                <span class="">info@yourdomain.com</span>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="mb-4">Latest Blog</h3>
            <ul class="list-unstyled blog-entry-footer"> {% set counter = 0 %} {%- for blog in collections.all | eleventyNavigation("blog") %} {% if counter < 3 %} <li>
                <a href="{{ blog.url | url}}">
                  <span class="post-meta">{{ blog.page.date}}</span>
                  <a href="{{ blog.url | url}}">
                    <h3>{{ blog.title }}</h3>
                  </a>
              </li> {% set counter = counter + 1 %} {% endif %} {%- endfor -%} </ul>
          </div>
          <div class="col-md-3">
            <h3>Connect</h3>
            <p>
              <a class="p-2" src="https://www.facebook.com/GlowToGoByCiara/">
                <span class="fa fa-facebook"></span>
              </a>
              <a class="p-2" src="https://www.instagram.com/glowtogobyciara/?hl=en">
                <span class="fa fa-instagram"></span>
              </a>
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> Copyright &copy; <script>
              document.write(new Date().getFullYear());
            </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <script src="js/main.js"></script>
  </body>