---
eleventyNavigation:
    key: Set Prices
---
{% include "_header.njk" %}
<script src="../../js/prices.js"></script>

<section class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <ul class="navbar-nav mr-auto" id="categoryList">

              </ul>
          </nav>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-md-5">

          <div class="media-body d-block media-feature text-center justify-content-center">
            <div class="row justify-content-center">
              <div id="divOptions">

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="media d-block media-feature text-center" id="">
            <img class="img-fluid" width() src="./images/back_massage.jpg">
            <br>
            <br>
            <div id="divOptionInfo">
              <h3>Swedish Back, Neck, Head & Shoulder Massage</h3>
              <p>An introduction to Osmosis! This facial is designed speciﬁcally to your skin needs. Including
                cleanse, exfoliation, mask, and appropriate moisturizer this facial is perfect for all skin types but
                especially for clients looking for a deep cleanse. Enioy a hot oil scalp massage while the mask
                works it's magic on your skin</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- END section -->


{% include "_footer.njk" %}